/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('.jpg');
    background-color: #000000; /* Light blue background */
    color: #333; /* Dark text color */
    background-size: 50%; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
   


/* Main text output container */
#output {
    font-size: 2.5rem;
    font-weight: bold;
    color: ##90D5FF;
    text-align: center;
    padding: 20px;
   
    background-color: #000; /* Light gray background */
  
}



/* Additional style for different days */
.Sunday { color: #f39c12; }
.Monday { color: #e74c3c; }
.Tuesday { color: #8e44ad; }
.Wednesday { color: #2980b9; }
.Thursday { color: #27ae60; }
.Friday { color: #f1c40f; }
.Saturday { color: #9b59b6; }


/* Main title (h1) styling */
h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

/* Secondary title (h2) styling */
h2 {
    font-size: 2rem;
    color: #7f8c8d;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

/* Footer styling */
footer {
    font-size: 1rem;
    color: #7f8c8d;
    margin-top: 20px;
    padding: 10px;
    background-color: #87b4e2;
    color: white;
    width: 100%;
    text-align: center;

    bottom: 0;
}

/* Footer links (optional) */
footer a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 5px 10px;
}



footer a:hover {
    color: #f39c12;

}

